<mat-card>
  <mat-card-title> Login details </mat-card-title>
  <mat-card-content>
    <form >

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email Here">
  </mat-form-field>

  
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password Here">
  </mat-form-field>
  
  
  <mat-form-field appearance="outline">
    <mat-label>Workplace</mat-label>
    <input matInput placeholder="Workplace Name">
  </mat-form-field>

        <div>
          <button mat-raised-button  color="primary"  routerLink="/home"  >Login</button>
        </div>

    </form>
  </mat-card-content>
</mat-card>